<div class='contact-wrapper'>
	<h1>Contact</h1>
	<div class='info-contain'>
		<div class='info-wrap address-wrap'>
			<h2>Address</h2>
			<p>G Builders, LLC.<br>45 Broadway Atrium<br>4th Floor<br>New York, New York 10006</p>
			<button class='contact-button cbutton-maps'>MAP VIEW</button>
		</div>
		<div class='info-wrap phone-wrap'>
			<h2>Telephone & Fax</h2>
			<p><img src="icons/old-phone.svg">212 - 635 - 0760</p>
			<p><img src="icons/0085-printer.svg">212 - 981 - 2924</p>
			<button class='contact-button cbutton-form'>EMAIL US</button>
		</div>
	</div>
</div>
    <script>
            function initMap() {
                var space = {lat: 40.7065991, lng: -74.0155157};
                // Styles a map in night mode.
                var map = new google.maps.Map(document.getElementById('map'), {
                  center: space,
                  zoom: 16,
                  // disableDefautUI: true,
                  // zoomControl: false,
                  mapTypeControl: false,
                  // scaleControl: false,
                  streetViewControl: false,
                  rotateControl: false,
                  fullscreenControl: false,
                  scrollwheel: false,
                  // draggable: false,
                  // gestureHandling: 'none',
                  styles: [
                    {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
                    {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
                    {
                      featureType: 'administrative.locality',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'geometry',
                      stylers: [{color: '#263c3f'}]
                    },
                    {
                      featureType: 'poi.park',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#6b9a76'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry',
                      stylers: [{color: '#38414e'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#212a37'}]
                    },
                    {
                      featureType: 'road',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#9ca5b3'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry',
                      stylers: [{color: '#746855'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'geometry.stroke',
                      stylers: [{color: '#1f2835'}]
                    },
                    {
                      featureType: 'road.highway',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#f3d19c'}]
                    },
                    {
                      featureType: 'transit',
                      elementType: 'geometry',
                      stylers: [{color: '#2f3948'}]
                    },
                    {
                      featureType: 'transit.station',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#d59563'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'geometry',
                      stylers: [{color: '#17263c'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.fill',
                      stylers: [{color: '#515c6d'}]
                    },
                    {
                      featureType: 'water',
                      elementType: 'labels.text.stroke',
                      stylers: [{color: '#17263c'}]
                    }
                  ]
                });
                var marker = new google.maps.Marker({
                  position: space,
                  map: map
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYuV2OdpCGg3-Hnq_-6bpGVNvKdib--FQ&callback=initMap"
            async defer>
        </script>
